//# Front-end Style Guide

//## Layout

//The designs were created to the following widths:

//- Mobile: 375px
//- Desktop: 1440px

//## Colors

//### Neutral

$Almost_White: hsl(0, 0%, 98%);
$Medium_Gray: hsl(0, 0%, 41%);
$Almost_Black: hsl(0, 0%, 8%);

//## Typography

//### Body Copy

$Font_size_paragraph: 1.8rem;
$font_family_epilogue: 'Epilogue', sans-serif;
//### Font

//- Family: [Epilogue](https://fonts.google.com/specimen/Epilogue)
//- Weights: 500, 700
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@mixin img($w, $h, $url) {
    display: block;
    width: $w;
    height: $h;
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

body {

    font-size: $Font_size_paragraph;
    font-family: $font_family_epilogue;
    height: 100vh;

    .capa {

        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $Almost_Black;
        opacity: .5;
        transition: all .3s ease-in-out;
    }


}

header {
    max-width: 375px;
    min-width: 350px;
    margin: auto;


    nav {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        position: relative;

        .logo {
            @include img(70px, 70px, "../images/logo.svg");

        }

        .menu-ico {
            @include img(25px, 25px, "../images/icon-menu.svg");
        }

        .nav-left {
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            padding: 15px;
            background-color: $Almost_White;
            height: 100vh;
            width: 67%;
            font-size: 1.6rem;
            color: $Medium_Gray;
            transform: translateX(260px);

            .div_close {
                width: 100%;
                text-align: right;

                .ico_menu_close {

                    @include img(25px, 25px, "../images/icon-close-menu.svg");
                    display: inline-block;

                }
            }

            .div_list {
                height: 70%;

                .ul_div_list {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;


                    li {
                        list-style: none;
                        cursor: pointer;
                    }

                    .features {

                        ul {
                            display: flex;
                            flex-direction: column;
                            padding-left: 30px;
                            width: 100%;
                            gap: 20px;
                            margin-top: 20px;

                            li {
                                display: flex;
                                gap: 10px;
                                align-items: center
                            }

                        }

                        .drop_features {
                            display: none;

                            .todo_list {
                                @include img(15px, 15px, "../images/icon-todo.svg");
                                display: inline-block;

                            }

                            .calendar {
                                @include img(15px, 15px, "../images/icon-calendar.svg");
                                display: inline-block;
                            }

                            .reminders {
                                @include img(15px, 15px, "../images/icon-reminders.svg");
                                display: inline-block;
                            }

                            .planning {
                                @include img(15px, 15px, "../images/icon-planning.svg");
                                display: inline-block;
                            }
                        }

                        .show_features {
                            display: flex;
                            transition: all .3s ease-in-out;
                        }
                    }

                    .li_company {
                        @extend .features;

                        .drop_company {
                            display: none
                        }

                        .show_company {
                            display: flex;
                            transition: all .2s ease-out
                        }
                    }

                }

                .arrow {
                    @include img(12px, 12px, "../images/icon-arrow-down.svg");
                    display: inline-block;
                }

                .arrow_up {
                    transform: rotate(180deg);
                }
            }

            .log_reg {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                span {
                    a {
                        color: $Medium_Gray;
                        font-weight: 500;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }

                button {
                    width: 100%;
                    background-color: $Almost_White;
                    border: 1px solid $Almost_Black;
                    padding: 10px 0px;
                    border-radius: 12px;
                    font-size: 1.6rem;
                    color: $Medium_Gray;
                    font-weight: 700;
                    margin-top: 12px;

                    &:active {
                        background-color: $Almost_Black;
                        color: $Almost_White;
                    }
                }
            }
        }

        .show_nav {
            display: block;
            transform: translateX(0);
            z-index: 8;
            transition: all ease-in .3s;

        }

        .quit_nav {
            transition: all ease-in .3s;
            transform: translateX(260px);


            display: none;
        }


        //para mostrar un desplazamiento del nav left


    }
}
.input{
    display: none;
 }
main {
    max-width: 375px;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    min-width: 350px;

    .sect--picture {
        picture {
            width: 375px;

            img {
                width: 100%;
                height: auto;

            }
        }
    }

    .sect--description-hero {
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 30px;
        align-items: center;

        h1 {
            font-size: 3.5rem;
            font-weight: 700;
        }

        p {
            font-size: 1.5rem;
            font-weight: 500;
            color: $Medium_Gray;
            line-height: 20px;
        }

        button {
            padding: 10px 20px;
            background-color: $Almost_Black;
            border-radius: 10px;
            border: none;
            color: $Almost_White;
            font-weight: 700;
            border: 1px solid $Almost_Black;
            cursor: pointer;

            &:hover {
                background-color: $Almost_White;
                color: $Almost_Black;
                border: 1px solid $Almost_Black;
            }
        }

        .partner--group {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin-bottom: 70px;
            $anchoIco: 65px;

            .partner1 {
                @include img($anchoIco, $anchoIco, "../images/client-databiz.svg")
            }

            .partner2 {
                @include img($anchoIco, $anchoIco, "../images/client-audiophile.svg")
            }

            .partner3 {
                @include img($anchoIco, $anchoIco, "../images/client-meet.svg")
            }

            .partner4 {
                @include img($anchoIco, $anchoIco, "../images/client-maker.svg")
            }
        }

    }
}





@media (min-width:1440px) {
    header {
        max-width: none;

        nav {

            display: flex;
            padding-bottom: 15px;
            height: 80px;
            position: relative;

            .menu-ico {
                display: none;
                visibility: hidden;
            }

            .nav-left {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: fit-content;
                position: static;
                width: 100%;
                padding-left: 30px;
                transform: none;
                background-color: white;

                .div_close {
                    display: none;
                }

                .div_list {

                    .ul_div_list {
                        flex-direction: row;
                        li:hover{
                            color: $Almost_Black;
                        }
                        .features {
                            position: relative;

                            .drop_features {

                                position: absolute;
                                padding: 30px 15px;
                                border-radius: 10px;
                                width: 150px;
                                right: 0;
                                background-color: white;
                                box-shadow: 1px 2px 16px -10px $Almost_Black;
                            }

                        }

                        .li_company {


                            .drop_company {

                                position: absolute;
                                padding: 30px 15px;
                                border-radius: 10px;
                                width: 150px;
                                right: 0;
                                background-color: white;
                                box-shadow: 1px 2px 16px -10px $Almost_Black;
                               
                            }
                        }
                    }
                }

                .log_reg {
                    width: 200px;
                    gap: 20px;
                    flex-direction: row;
                    align-items: center;
span{
    a{
        &:hover{
            color: $Almost_Black;
        }
    }
}
                    button {
                        margin: 0;
                        cursor: pointer;
                        &:hover{
                            background-color: $Almost_Black;
                            color: white;
                        }
                    }

                }
            }

        }
    }

    main {
        max-width: none;
        padding: 0px 10%;
        flex-direction: row-reverse;
        height: auto;

        .sect--picture {
            picture {
                img {
                    width: 500px;
                }
            }
        }

        .sect--description-hero {
            align-items: flex-start;
            text-align: left;
            padding-right: 150px;
            justify-content: space-between;

            .hero--text {
                h1 {
                    font-size: 9rem;
                    margin-top: 100px;
                }

                p {
                    width: 400px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    line-height: 30px;
                }

                button {
                    width: 150px;
                    padding: 15px 0px;
                }
            }

            .partner--group {

                margin: 0;

                justify-content: space-around;
                $anchoIco: 95px;

                .partner1 {
                    @include img($anchoIco, $anchoIco, "../images/client-databiz.svg")
                }

                .partner2 {
                    @include img($anchoIco, $anchoIco, "../images/client-audiophile.svg")
                }

                .partner3 {
                    @include img($anchoIco, $anchoIco, "../images/client-meet.svg")
                }

                .partner4 {
                    @include img($anchoIco, $anchoIco, "../images/client-maker.svg")
                }
            }

        }
    }
}